@model int

<a class="aa-cart-link" href="@Url.Action("index")">
    <span class="fa fa-shopping-basket"></span>
    <span class="aa-cart-title">Giỏ hàng</span>
    <span class="aa-cart-notify" id="total_item_cart">@Model</span>
</a>