
@{
    ViewBag.Title = "CheckoutComplete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="aa-catg-head-banner">
    <img src="~/Content/img/fashion/321.jpg" alt="fashion img">
    <div class="aa-catg-head-banner-area">
        <div class="container">
            <div class="aa-catg-head-banner-content">
                <h2>Cart Page</h2>
                <ol class="breadcrumb">
                    <li><a href="index.html">Trang chủ</a></li>
                    <li class="active">Giỏ hàng</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section id="cart-view" style="margin-top: 5rem; margin-bottom: 5rem">
    <div class="container">
        <div _ngcontent-qjy-c210=""
             class="alert alert-success"
             style="max-width: 800px; margin: auto">
            <p _ngcontent-qjy-c210="">Cảm ơn quý khách đã mua hàng tại TranDungShop</p>
            <p _ngcontent-qjy-c210="">
                Chúng tôi đã gửi email xác nhận đơn hàng tới địa chỉ email của bạn.
            </p>
            <p _ngcontent-qjy-c210="">
                Nhân viên chăm sóc khách hàng của
                <strong _ngcontent-qjy-c210="">TranDungShop</strong> sẽ gọi điện xác minh lại
                đơn hàng của bạn sau khi nhận được đơn đặt hàng.
            </p>
            <p _ngcontent-qjy-c210="">
                Có nhiều phương thức thanh toán để bạn lựa chọn (trả tiền khi giao hàng,
                thanh toán bẳng thẻ tín dụng hoặc ATM, chuyển khoản qua ngân hàng)
            </p>
            <p _ngcontent-qjy-c210="">
                Để được hỗ trợ thêm vui lòng liên hệ Hotline
                <strong _ngcontent-qjy-c210="">0123456789</strong> hoặc Email
                <a _ngcontent-qjy-c210="" href="mailto:manhquan@gmail.com">
                    trandungshop@gmail.com
                </a>
            </p>
        </div>
    </div>
</section>

